/*
Gavin Coyne
Effects and Design CSS
*/
div.top-bg
{
    background-color:#FF5757;
    background-color:rgba(255, 87, 87,.95);
    background-color:hsla(0, 100%, 34%, 0.95);
    background-image: -webkit-linear-gradient(
        bottom, hsl(0, 0%, 100%) 0%,
        hsla(0, 100%, 34%, 0.95) 75%
    );
}

div.body-border{

    -webkit-box-shadow: 0 0 40px #000000;
    -o-box-shadow: 0 0 40px #000000;
    -moz-box-shadow: 0 0 40px #000000;
    box-shadow: 0 0 40px #000000;

    border-radius: 15px 0 15px 0;
}
div.body {
    background-color:#FFFFFF;
    -webkit-box-shadow: 0 0 10px #000000;
    -o-box-shadow: 0 0 10px #000000;
    -moz-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;

}
div.body, div.body-border {
    border-radius: 15px ;
}
div.banner {
    padding:20px;
}

header, h1{
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	border-radius: 20px;


}

h1.content {
	word-spacing:7px;
	letter-spacing:3px;
    font-size:3em;
    text-shadow:2px 2px 2px black ,3px 3px 5px black;
    color:red;
}

section.content article -article.img {
	
	border:1px solid black;
	border-radius:20px;
	overflow:hidden;
	
}

div.scrollDiv {
	overflow:auto;
}

footer {
	text-align:center;
    border-top: 1px rgb(0,0,0) solid;
    margin:0 auto;
}

input.required:focus:valid {
	background-color:hsla(114, 88%, 66%,0.6);
}